@import "shared.css";

/* LIST: just the basic elements */
.list-header {
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.list-image {
    height: 275px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

/* DELETE: the delete button in the upper right */
.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;

    background-color: var(--action);
    height: 20px;
    width: 20px;
    padding: 2px;
    opacity: 0.1;
    border-radius: 5px;

    transition: opacity 0.2s;
}

.delete-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.delete-button > img {
    height: 100%;
}
