@import "shared.css";

.search-element > img {
    height: 150px;
    width: 100px;

    border-radius: 5px;
    object-fit: cover;
    image-rendering: smooth;
}

.search-element > div {
    margin: 10px;
}

.search-element > div > p {
    margin: 10px;
}

.search-button:hover {
    cursor: pointer;
}

.lines {
    border-bottom: 1px solid var(--highlight);
}

.lines:hover {
    background-color: var(--accent-one);
    cursor: pointer;
}

/* STATUS BOX: shows if an element is open, started or finished */
.status-box {
    background-color: var(--accent-two);
    height: 36px;
    width: 36px;
    border-radius: 5px;

    justify-self: end;
    align-self: center;
}

.status-box > img {
    height: 20px;
    width: 20px;
}

.status-box > img{
    padding: 8px;
}

/* ACTOR: the image of the actor */
.actor-image {
    background-color: var(--stats);
    height: 250px;
    width: 250px;
    margin: 20px;
    border-radius: 180px;
    background-size: cover;
}
