/* STATUS BOX: the element where the backlog stats are shown */
.status-stats{
    margin: 20px 10px 10px 10px;
    background-color: var(--stats);
    border-radius: 15px;
}

.status-stats > div {
    text-align: center;
}

/* LISTS: all list elements */
.list-box-add {
    height: 75px;
    text-align: center;
    padding: 10px;
}

.list-box-add img {
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.list-box {
    background-color: var(--accent-one);
    height: 75px;
    color: var(--highlight);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    line-height: 75px;
}

/* MEDIA LIST: all the css things for the big media list */
.media-item {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid var(--highlight);
}

.media-item:hover {
    background-color: var(--accent-one);
    cursor: pointer;
}

.media-list {
    margin-top: 30px;
}

.media-list > a {
    text-decoration: none;
    color: var(--highlight);
}

/* NAVIGATION BOX */
.navigation-box {
    background-color: var(--action);
    height: 50px;
    width: 50px;

    border-radius: 10px;
}

.navigation-box > img {
    margin: 2px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
}

/* CLICK ANIMATION */
.click-anim {
    transition-duration: 0.3s;
    cursor: pointer;
}

.click-anim:hover {
    transform: scale(1.05, 1.05);

    outline: 2px solid #cdcdcd;
    outline-offset: 2px;
}
