<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>The Backlog</h1>
    <p>Welcome to the Backlog</p>

    <div class="category-box">
        <a href="/movie">
            <div>Movies</div>
        </a>

        <a href="/series">
            <div>Series</div>
        </a>

        <a href="/game">
            <div>Games</div>
        </a>

        <a href="/book">
            <div>Books</div>
        </a>
    </div>

  </body>
</html>
