<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/color-style.css' />
  </head>
  <body>
    <div class="container">
        <h1>The Backlog</h1>
        <p>Welcome to the Backlog</p>

        <div class="category-box">
            <a href="/movie" class="shadow">
                <div>Movies</div>
            </a>

            <a href="/series" class="shadow">
                <div>Series</div>
            </a>

            <a href="/game" class="shadow">
                <div>Games</div>
            </a>

            <a href="/book" class="shadow">
                <div>Books</div>
            </a>
        </div>
    </div>

  </body>
</html>
