<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/color-style.css' />
      <link rel='stylesheet' href='/stylesheets/index-style.css' />
  </head>
  <body>
    <main>
        <div class="container">
            <h1>The Backlog</h1>
            <p>Welcome to the Backlog</p>

            <div class="category-box">
                <a href="/movie" class="shadow">
                    <div>Movies</div>
                </a>

                <a href="/series" class="shadow">
                    <div>Series</div>
                </a>

                <a href="/game" class="shadow">
                    <div>Games</div>
                </a>

                <a href="/book" class="shadow">
                    <div>Books</div>
                </a>
            </div>

            <h2>Recently Added</h2>
            <div class="recent-box">
                <% for(var i = 0; i < recent.length; i++){ %>
                    <div style="background-image: url(/images/<%=recent[i].route%>/<%= recent[i].name.toLowerCase()
                            .replaceAll(" ", "_")
                            .replaceAll(":", "")
                            .replaceAll("'", "")
                            .replaceAll("´", "")  %>.jpg);"
                        class="shadow">
                    </div>
                <% } %>
            </div>
        </div>
    </main>

    <div class="footer">
        <img src="/images/icons/orchid_heart_red.png" height="50px">
    </div>

  </body>
</html>
