<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>The Backlog</h1>
    <p>Welcome to the Backlog</p>

    <div class="category-box">
        <div>Movies</div>
        <div>Series</div>
        <div>Games</div>
        <div>Books</div>
    </div>

  </body>
</html>
