<!DOCTYPE html>
<html>
<head>
    <title>New List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/form-style.css' />
    <link rel='stylesheet' href='/stylesheets/color-style.css' />
    <link rel='stylesheet' href='/stylesheets/finish-style.css' />
</head>
<body>
<a class="outer shadow click-anim" href="/">
    <img src="/images/icons/back_arrow.png" width="100%">
</a>

<main>
    <div class="container">
        <h1><%= list.name%></h1>
        <p><%= list.description%></p>
    </div>
</main>

<div class="footer">
    <img src="/images/icons/orchid_heart_red.png" height="50px">
</div>
</body>
</html>
