<!DOCTYPE html>
<html>
<head>
    <title>New List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pages/forms.css' />
</head>
<body>
<a class="navigation-box top-left shadow click-anim" href="/">
    <img src="/images/icons/back_arrow.png" width="100%">
</a>

<main>
    <div class="container">
        <h1>Create New List</h1>

        <form method='post'>
            <input name="name" id="name" placeholder="Name" type="text" value="<%=list.name%>">
            <br>
            <textarea rows="7" name="description" id="description" placeholder="Description" type="text" ><%=list.description%></textarea>
            <br>

            <div class="grd-options">
                <div>
                    <label for="red" class="color-box shadow"  style="background-color: #CD5656">
                        <input type="radio" id="red" name="color" value="CD5656">
                    </label>
                </div>

                <div>
                    <label for="blue" class="color-box shadow" style="background-color: #576A8F">
                        <input type="radio" id="blue" name="color" value="576A8F">
                    </label>
                </div>

                <div>
                    <label for="green" class="color-box shadow" style="background-color: #BF9264">
                        <input type="radio" id="green" name="color" value="BF9264">
                    </label>
                </div>

                <div>
                    <label for="orange" class="color-box shadow" style="background-color: #FF7444">
                        <input type="radio" id="orange" name="color" value="FF7444">
                    </label>
                </div>
            </div>

            <button class="shadow" type="submit">Send</button>
        </form>
    </div>
</main>

<div class="footer">
    <img src="/images/icons/orchid_heart_red.png" height="50px">
</div>
</body>
</html>
