<!DOCTYPE html>
<html>
<head>
    <title>New List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/form-style.css' />
    <link rel='stylesheet' href='/stylesheets/color-style.css' />
    <link rel='stylesheet' href='/stylesheets/finish-style.css' />
</head>
<body>
<a class="outer shadow click-anim" href="/">
    <img src="/images/icons/back_arrow.png" width="100%">
</a>

<main>
    <div class="container">
        <h1>Create New List</h1>

        <form method='post'>
            <input name="name" id="name" placeholder="Name" type="text">
            <br>
            <textarea rows="7" name="description" id="description" placeholder="Description" type="text" ></textarea>
            <br>
            <button class="shadow" type="submit">Send</button>
        </form>
    </div>
</main>

<div class="footer">
    <img src="/images/icons/orchid_heart_red.png" height="50px">
</div>
</body>
</html>
