<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/listing-style.css' />
</head>
<body>
    <h1><%= title%></h1>

    <a class="add-button">
        <span>Add <%= title%></span>
    </a>
</body>
</html>