<!DOCTYPE html>
<html>
<head>
    <title>Finishing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/listing-style.css' />
</head>
<body>
<a class="outer" href="/">
    Back
</a>

<div class="container">
    <h1>Finishing</h1>

    <form method='post'>
        <input name="rating" id="rating" placeholder="Rating" type="text" >
        <textarea name="valuation" id="valuation" placeholder="Valuation" type="text" ></textarea>

        <button type="submit">Send</button>
    </form>
</div>
</body>
</html>