<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Add <%= title%></h1>

    <div>
        <form ref='uploadForm'
              id='uploadForm'
              method='post'
              encType="multipart/form-data">

            <input placeholder="Name">
            <input placeholder="Year">
            <input placeholder="Genre">
            <input placeholder="Country">
            <textarea placeholder="Description"></textarea>

            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>