<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Add <%= title%></h1>

    <div>
        <form>
            <input placeholder="Name">
            <input placeholder="Year">
            <input placeholder="Genre">
            <input placeholder="Country">
            <textarea placeholder="Description"></textarea>
        </form>
    </div>
</body>
</html>