<!DOCTYPE html>
<html>
<head>
    <title><%= media.name%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= media.name%></h1>
    <div>
        <h4>By <i><%= media.director%></i></h4>
    </div>

    <hr>
    <div>
        <h3>Description</h3>
        <p><%= media.description%></p>
    </div>
</body>
</html>
