<!DOCTYPE html>
<html>
<head>
    <title>Finishing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/form-style.css' />
    <link rel='stylesheet' href='/stylesheets/color-style.css' />
</head>
<body>
<a class="outer shadow" href="/">
    <img src="/images/icons/back_arrow.png" width="100%">
</a>

    <main>
        <div class="container">
            <h1>Finishing</h1>

            <form method='post'>
                <input name="rating" id="rating" placeholder="Rating" type="text" >
                <br>
                <textarea rows="7" name="valuation" id="valuation" placeholder="Valuation" type="text" ></textarea>
                <br>

                <button type="submit">Send</button>
            </form>
        </div>
    </main>

    <div class="footer">
        <img src="/images/icons/orchid_heart_red.png" height="50px">
    </div>
</body>
</html>