<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/form-style.css' />
    <link rel='stylesheet' href='/stylesheets/color-style.css' />
</head>
<body>
    <a class="outer shadow" href="/<%= route%>">
        <img src="/images/icons/back_arrow.png" width="100%">
    </a>

    <div class="container">
        <h1>Add <%= title%></h1>

        <div>
            <form ref='uploadForm'
                  id='uploadForm'
                  method='post'
                  encType="multipart/form-data">

                <div class="two-grid">
                    <div>
                        <div class="center-drag space-bottom">
                            <input name="foo" type="file" class="dragndrop" />
                        </div>
                        <p class="dragndrop-title">Cover</p>
                    </div>

                    <%if(route != 'book'){%>
                        <div>
                            <div class="center-drag space-bottom">
                                <input name="foo2" type="file" class="dragndrop" />
                            </div>
                            <p class="dragndrop-title">Header</p>
                        </div>
                    <%}%>
                </div>

                <input name="name" id="name" placeholder="Name" type="text" >
                <br>
                <input name="year" id="year" placeholder="Year" type="text" >
                <br>
                <input name="genre" id="genre" placeholder="Genre" type="text" >
                <br>
                <input name="country" id="country" placeholder="Country" type="text" >
                <br>
                <textarea rows="7" name="description" id="description" placeholder="Description" type="text" ></textarea>
                <br>

                <% if (title === "Movies") {%>
                    <input name="studio" id="studio" placeholder="Studio" type="text" >
                    <br>
                    <input name="director" id="director" placeholder="Director" type="text" >
                    <br>
                    <input name="length" id="length" placeholder="Length" type="text" >
                    <br>
                    <textarea rows="7" name="cast" id="cast" placeholder="Cast" type="text" ></textarea>
                    <br>
                <%}%>

                <% if (title === "Series") {%>
                    <input name="idea" id="studio" placeholder="Idea" type="text" >
                    <br>
                    <input name="studio" id="director" placeholder="Studio" type="text" >
                    <br>
                    <textarea rows="7" name="cast" id="cast" placeholder="Cast" type="text" ></textarea>
                    <br>
                    <textarea rows="7" name="episodes" id="cast" placeholder="Episodes" type="text" ></textarea>
                    <br>
                <%}%>

                <% if (title === "Games") {%>
                    <input name="publisher" id="publisher" placeholder="Publisher" type="text" >
                    <br>
                    <input name="developer" id="developer" placeholder="Developer" type="text" >
                    <br>
                <%}%>

                <% if (title === "Books") {%>
                    <input name="author" id="author" placeholder="Author" type="text" >
                    <br>
                    <input name="length" id="length" placeholder="Length" type="text" >
                    <br>
                    <input name="publisher" id="publisher" placeholder="Publisher" type="text" >
                    <br>
                    <input name="illustrator" id="illustrator" placeholder="Illustrator" type="text" >
                    <br>
                <%}%>

                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</body>
</html>