<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/color-style.css' />
    <link rel='stylesheet' href='/stylesheets/search-style.css'>
    <link rel='stylesheet' href='/stylesheets/settings-style.css'>
</head>
<body>

<a class="outer shadow search-button click-anim" href="/">
    <img src="/images/icons/back_arrow.png" width="100%">
</a>

<main>
    <div class="container">
        <h1>Settings</h1>

        <form method='post'>
            <input type="checkbox" name="m_in_min" id="m_in_min" class="shadow"
                   <% if(settings["time_in_minutes"] === true) {%>checked<%}%>>
            <label for="m_in_min">Movie Length in Minutes</label> <br>

            <button type="submit">Save</button>
        </form>
    </div>
</main>

<div class="footer">
    <img src="/images/icons/orchid_heart_red.png" height="50px">
</div>
</body>
</html>
