<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pages/forms.css' />
</head>
<body>

<a class="navigation-box top-left shadow click-anim" href="/">
    <img src="/images/icons/back_arrow.png" width="100%">
</a>

<main>
    <div class="container">
        <h1>Settings</h1>

        <form method='post'>
            <input type="checkbox" name="m_in_min" id="m_in_min" class="shadow"
                   <% if(settings["time_in_minutes"] === true) {%>checked<%}%>>
            <label for="m_in_min">Movie Length in Minutes</label> <br>

            <input type="checkbox" name="streaming" id="streaming" class="shadow"
                   <% if(settings["streaming"] === true) {%>checked<%}%>>
            <label for="streaming">Show Streaming Info</label> <br>

            <button type="submit" class="shadow click-anim">Save</button>
        </form>
    </div>
</main>

<div class="footer">
    <img src="/images/icons/orchid_heart_red.png" height="50px">
</div>
</body>
</html>
