.tester {
    background-image: linear-gradient(to top , var(--base), rgba(255, 255, 0, 0));
    position: absolute;

    height: 400px;
    width: 100%;
}

.image{
    /*background-image: url("/images/movies/palm_springs.jpg");*/
    background-position: 0 13%;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.three-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

hr {
    margin-bottom: 25px;
}

.detail-button {
    background-color: var(--action);
    height: 35px;
    width: 35px;
    padding: 10px;
    border-radius: 15px;
}

.detail-button > img {
    height: 100%;
}

.base {
    /*
    display: grid;
    grid-template-columns: auto auto;
    gap: 0;
    place-items: end;
*/
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    width: max-content;
    place-items: end;
}

.tag {
    background-color: var(--accent-two);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.episode-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.season-box {
    padding: 10px;
}

h4 > a,
.cast-element > a {
    text-decoration: none;
    color: var(--highlight);
}

h4 > a:hover,
.cast-element > a:hover {
    color: var(--action);
}

.rating {
    margin: 0;
    font-size: 40px;
}

.finished-box{
    margin-top: 25px;
    background-color: var(--stats);
    padding: 5px 20px 10px 20px;
    border-radius: 15px;
}

.cancelled{
    position: absolute;
    top: 0;
    left: 0;
}


.img-parent {
    position: relative;
    top: 0;
    left: 0;
}

.cover {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.repeat {
    color: var(--highlight);
}

.repeat-a > a {
    text-decoration: none;
    text-align: center;
    line-height: 35px;
}

.repeat > img {
    position: absolute;
    top: 3px;
    left: 3px;

    height: 50px;
}

.minutes {
    font-size: 25px;
}

/* HERE ALL HOVER OPTIONS */
.boxtohover {
    position: relative;
}

.infotohover {
    position: absolute;
    top: -50px;
    width: max-content;

    padding-left: 5px;
    padding-right: 5px;

    left: 50%;
    transform: translateX(-50%);

    background: #000000;
    border: 1px solid #DFDFDF;
    color: #ffffff;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 0.2s ease;
    transition-delay: 1s;
}

.boxtohover:hover .infotohover {
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
}

/* HOW LONG TO BEAT*/
.hltb-box {
    margin-top: 20px;
    background-color: var(--stats);
}

.hltb-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hltb-grid > div {
    font-size: large;
    padding: 10px;
}

.hltb-grid > div > br{
    margin-top: 10px;
}

.stream-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, max-content));
    grid-auto-flow: dense;
}

.streaming-service {
    height: 50px;
    border-radius: 10px;
}