.tester {
    background-image: linear-gradient(to top , var(--base), rgba(255, 255, 0, 0));
    position: absolute;

    height: 400px;
    width: 100%;
}

.image{
    /*background-image: url("/images/movies/palm_springs.jpg");*/
    background-position: 0 13%;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cover{
    border-radius: 15px;
}

hr {
    margin-bottom: 25px;
}

.detail-button {
    background-color: var(--action);
    height: 35px;
    width: 35px;
    padding: 10px;
    border-radius: 15px;
    transition-duration: 0.3s;
}

.detail-button > img {
    height: 100%;
}

.detail-button:hover {
    transform: scale(1.05, 1.05);
}

.base {
    /*
    display: grid;
    grid-template-columns: auto auto;
    gap: 0;
    place-items: end;
*/
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    width: max-content;
    place-items: end;
}

.tag {
    background-color: var(--accent-two);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.episode-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.season-box {
    padding: 10px;
}

h4 > a,
.cast-element > a {
    text-decoration: none;
    color: var(--highlight);
}

h4 > a:hover,
.cast-element > a:hover {
    color: var(--action);
}

.rating {
    margin: 0;
    font-size: 40px;
}