.like-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 50px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.like-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;

    background-image: url("/images/icons/heart_empty.png");
    background-size: cover;
}

.like-check input:checked ~ .checkmark {
    background-image: url("/images/icons/heart.png");
    background-size: cover;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.like-check input:checked ~ .checkmark:after {
    display: block;
}