.add-button {
    background-color: #3e5641;
    color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
}

.media-item {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
}

.media-item:hover {
    background-color: #004d61;
    cursor: pointer;
}

.media-list {
    margin-top: 30px;
}

.media-list > a {
    text-decoration: none;
    color: #f0f0f0;
}