.media-list {
    margin-top: 30px;
}

.media-list > a {
    text-decoration: none;
    color: var(--highlight);
}

.media-item {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.search-grid{
    display: grid;
    grid-template-columns:  100px 250px 1fr;
    padding: 5px;
}

.search-grid > img {
    height: 150px;
    width: 100px;

    border-radius: 5px;
    object-fit: cover;
    image-rendering: smooth;
}

.search-grid > div {
    margin: 10px;
}

.search-grid > div > p {
    margin: 10px;
}

.search-button:hover {
    cursor: pointer;
}

.lines {
    border-bottom: 1px solid var(--highlight);
}

.lines:hover {
    background-color: var(--accent-one);
    cursor: pointer;
}

.status-box {
    background-color: var(--accent-two);
    height: 36px;
    width: 36px;
    border-radius: 5px;

    justify-self: end;
    align-self: center;
}

.status-box > img {
    height: 20px;
    width: 20px;
}

.status-box > img{
    padding: 8px;
}

.actor-image {
    background-color: var(--stats);
    height: 250px;
    width: 250px;
    margin: 20px;
    border-radius: 180px;
    background-size: cover;
}

.two-grid {
    display: grid;
    grid-auto-flow: column;
    width: max-content;
}
