body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

main {
    flex: 1;
}

html{
    font-family: "Funnel Display", sans-serif;
    background-color: var(--base);
    color: var(--highlight);
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

.outer {
    left: 15px;
    top: 15px;
    background-color: var(--action);
    color: var(--highlight);
    position: fixed;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.footer {
    background-color: var(--accent-one);
    width: 100%;
    height: fit-content;

    margin-top: 50px;
    text-align: center;

    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.footer > img {
    padding-top: 15px;
    padding-bottom: 15px;
}

.click-anim {
    transition-duration: 0.3s;
}

.click-anim:hover {
    transform: scale(1.05, 1.05);
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.list-image {
    height: 260px;
    background-size: cover;
    background-position: center;

    border-radius: 10px;
}

.list-box {
    background-color: var(--accent-one);
    height: 75px;
    color: var(--highlight);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;

    line-height: 75px;
}

.list-box-add {
    height: 75px;
    text-align: center;
    padding: 10px;
}

.list-box-add img {
    height: 75px;
    margin-left: auto;
    margin-right: auto;

}
