@import "colors.css";
@import "layout.css";

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

main {
    flex: 1;
}

html{
    font-family: "IBM Plex Mono", monospace;
    background-color: var(--base);
    color: var(--highlight);
}
