html{
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--base);
    color: var(--highlight);
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

.category-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.category-box > a {
    background-color: var(--action);
    color: var(--highlight);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
}

.outer {
    left: 15px;
    top: 15px;
    background-color: var(--action);
    color: var(--highlight);
    position: fixed;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    transition-duration: 0.3s;
}

.outer:hover {
    transform: scale(1.05, 1.05);
}

.footer {
    background-color: var(--accent-one);
    width: 100%;
    height: fit-content;

    margin-top: 50px;
    text-align: center;
}

.footer > img {
    padding-top: 15px;
    padding-bottom: 15px;
}